
h1, h2 {
    font-family: Lato;
}

div {
    display: block;

}

td {
    justify-content: start;
}

td:hover {
    cursor: pointer;
}

.selected {
    background-color:green;
    color: white;
}

.unselected {
    background-color: coral;
    color: white;
}

.block {
    display: flex;
}

.table {
    margin: 20px;
}